page-search {}

h2 {
    border: 2px solid #230903;
    background-color: cadetblue;
    color: #230903;
    margin: -16px;
}

.mapa {
    margin: -16px;
    margin-top: 16px;
    width: 110%;
    height: 100%;
    max-width: 140%;
}
